.welcome {
  position: relative;
  margin-bottom: 4.222rem;
}
.imageContainer {
  position: relative;
  aspect-ratio: 375/240;
  overflow: hidden;
}
.imageMask {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--white);
  z-index: 2;

  /* width: 343px;
  height: 45px; */
  /* y: 0.188, x: 0.915*/
  width: 100%;
  height: 100%;
  transform-origin: left bottom;
}
.image {
  position: absolute;
  aspect-ratio: 375/240;
  width: 100%;
}
.image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.backgroundHeading {
  display: none;
}
.content {
  padding: 0 var(--section-padding);
}
.heading {
  padding-top: 1.16rem;
  font-size: 2.666rem;
  line-height: 2.666rem;
  color: var(--dark-blue);
  max-width: 12ch;
}
.description {
  margin-top: 2rem;
  color: var(--dark-grey);
  /* max-width: 42ch; */
}
@media screen and (min-width: 768px) {
  .imageContainer {
    aspect-ratio: 573/720;
  }
  .image {
    aspect-ratio: 573/720;
  }
  .imageMask {
    left: unset;
    right: 0;
    /* width: calc(100% - 58px);
    height: 431px; */
    /*y: 0.597 x:0.9*/
    transform-origin: right bottom;
  }

  .backgroundHeading {
    font-size: 6.666rem;
    line-height: 0;
    letter-spacing: -0.166rem;
    color: var(--very-light-grey);
    display: block;
    position: absolute;
    z-index: 2;
    right: 0.1em;
    bottom: calc(59.7% + 0.1em);
  }
  .content {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 59.7%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 3.277rem;
  }

  .description {
    margin-top: 2.111rem;
    color: var(--dark-grey);
    max-width: 70ch;
  }
  .heading {
    font-size: 4rem;
    line-height: 4rem;
    padding-top: 4rem;

    position: relative;
  }
  .heading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 1px;
    background-color: var(--light-grey);
  }
}
@media screen and (min-width: 1000px) {
  .content {
    justify-content: center;
  }
}
@media screen and (min-width: 1304px) {
  .welcome {
    display: flex;
    margin-bottom: 11.111rem;
  }
  .imageContainer {
    aspect-ratio: 635/720;
    width: 635px;
  }
  .image {
    aspect-ratio: 635/720;
  }
  .imageMask {
    left: unset;
    right: 0;
    /* width: 153px;
    height: 503px; */
    /*y: 0.699 x:0.153*/
  }

  .backgroundHeading {
    font-size: 13.888rem;
    line-height: 13.888rem;
    right: 0;
    bottom: calc(69.9% - 0.36em);
  }
  .content {
    right: 0;
    width: calc(100% - 635px);
    padding: unset;
    padding-left: 1.333rem;
  }
  .description {
    max-width: 42ch;
  }
}
