*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap'); */

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'League Spartan', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: var(--scroll-width);
}

body::-webkit-scrollbar-track {
  background-color: var(--very-light-grey);
  box-shadow: inset 1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--medium-grey);
}
input,
textarea,
button,
select,
a {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --dark-blue: hsl(225, 13%, 12%);
  --dark-grey: hsl(226, 6%, 40%);
  --medium-grey: hsl(223, 7%, 53%);
  --light-grey: hsl(225, 17%, 82%);
  --very-light-grey: hsl(230, 21%, 95%);
  --red: hsl(0, 68%, 61%);
  --white: hsl(0, 0%, 100%);
  --fw-bold: 800;
  --fw-medium: 500;
  --fw-regular: 400;
  --max-width: 1110px;
  --width: calc(100vw - 194px);
  --section-padding: 1.777rem;
  font-size: 18px;
  --scroll-width: 6px;
}
